CORE_DATABASE_URL=postgres://user:pass@host/database
CORE_SECRET=Bc1gX1OnW6TDWVseT5d8Lm
OAUTH_DISCORD_CLIENT_ID=1234551234565123566
OAUTH_DISCORD_CLIENT_SECRET=abcdefg123456789ABCDEFG123456
DISCORD_URL=https://discord.com/api/webhooks/112455666666666
